@model Fleet_Managment.Models.ModelAddedViewModel

@{
    ViewData["Title"] = "CreateModel";
}

<h1>CreateModel</h1>

<h4>ModelAddedViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateModel">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdBrand" hidden class="control-label"></label>
                <input asp-for="IdBrand" hidden class="form-control" />
                <span asp-validation-for="IdBrand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandName" class="control-label"></label>
                <input asp-for="BrandName" readonly class="form-control" />
                <span asp-validation-for="BrandName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelName" class="control-label"></label>
                <input asp-for="ModelName" class="form-control" />
                <span asp-validation-for="ModelName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Brand" asp-action="BrandAvailable">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}